@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html {
  --background: #fafafb;
  --background2: #fff;
  --background3: #f6f8fb;
  --text1: #4f4f4f;
  --text2: #828282;
  --text3: #bdbdbd;
  --border: #97bef4;
  --primary: #2f80ed;
  --primaryDarker: #2a5ea1;
  --success: #219653;
  --successDarker: #1b6139;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  overflow: hidden;
}
a {
  margin-left: 4px;
  color: var(--primary);
  text-decoration: none;
}

.btn-primary {
  padding: 8px 16px;
  color: #fff;
  background: var(--primary);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.btn-primary:hover {
  background: var(--primaryDarker);
}

.btn-success {
  padding: 8px 16px;
  color: #fff;
  background: var(--success);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.btn-success:hover {
  background: var(--successDarker);
}

.cover {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadImage {
  width: 402px;
  box-sizing: border-box;
  background: var(--background2);
  padding: 36px 32px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  color: var(--text1);
}

.uploadImage h3 {
  text-align: center;
  margin-top: 0px;
}

.uploadImage p:first-child {
  color: var(--text2);
}

.uploadImage p {
  color: var(--text3);
  text-align: center;
  font-size: 12px;
}

.uploadImage .mid {
  position: relative;
  width: 100%;
  background: var(--background3);
  padding: 35px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px dashed var(--border);
  box-sizing: border-box;
  border-radius: 12px;
}

.uploadImage .mid .image,
.uploadImage .mid .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.active {
  opacity: 0.3;
  border: 2px dashed var(--primaryDarker) !important;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
  background: var(--background3);
  margin-top: 20px;
}

.link p {
  flex-basis: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: var(--text1) !important;
}

.link button {
  padding: 10px 15px;
  border-radius: 10px;
}

.load {
  margin-bottom: 10px;
}

.uploads {
  position: relative;
  max-height: 400px;
  width: 400px;
  border-radius: 12px;
  overflow-y: auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
}

.uploads h3 {
  text-align: center;
  color: var(--text1);
}

.uploads .item {
  height: 60px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background3);
  margin-bottom: 7px;
}

.uploads .image {
  height: 100%;
  flex-basis: 20%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.uploads p {
  flex-basis: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: var(--text2);
}

.uploads button.btn-1 {
  height: 100%;
}

.uploads i {
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .uploadImage {
    width: 300px;
  }
  .uploads {
    width: 300px;
  }

  .link p {
    flex-basis: 60%;
  }
  .uploads .item {
    width: 250px;
  }
}
